%h4 2019
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2019_dac_2.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2019_dac_2.pdf")
      %img.pubthumb(src="images/nothumb.png")
    %h4.pubtitle#c114
      Reducing the multiplicative complexity in logic networks for cryptography and security applications
    .pubauthor
      Eleonora Testa,
      %strong Mathias Soeken,
      Luca Gaetano Amarù,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Conference Paper 114
      In Design Automation Conference (DAC) | Las Vegas, NV, USA, June 2019 | Publisher: ACM/IEEE
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2019_dac_1.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2019_dac_1.pdf")
      %img.pubthumb(src="images/nothumb.png")
    %h4.pubtitle#c113
      Scalable generic logic synthesis: one approach to rule them all
    .pubauthor
      Heinz Riener,
      Eleonora Testa,
      Winston Haaswijk,
      Alan Mishchenko,
      Luca Gaetano Amarù,
      Giovanni De Micheli,
      %strong Mathias Soeken
    .pubcite
      %span.label.label-warning Conference Paper 113
      In Design Automation Conference (DAC) | Las Vegas, NV, USA, June 2019 | Publisher: ACM/IEEE
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2019_ismvl_2.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2019_ismvl_2.pdf")
      %img.pubthumb(src="images/nothumb.png")
    %h4.pubtitle#c112
      Scaling-up ESOP synthesis for quantum compilation
    .pubauthor
      Bruno Schmitt,
      %strong Mathias Soeken,
      Alan Mishchenko,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Conference Paper 112
      In International Symposium on Multiple-Valued Logic (ISMVL) | Fredericton, Canada, May 2019 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2019_ismvl_1.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2019_ismvl_1.pdf")
      %img.pubthumb(src="images/nothumb.png")
    %h4.pubtitle#c111
      Reversible pebble games for reducing qubits in hierarchical quantum circuit synthesis
    .pubauthor
      Debjyoti Bhattacharjee,
      %strong Mathias Soeken,
      Srijit Dutta,
      Anupam Chattopadhyay,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Conference Paper 111
      In International Symposium on Multiple-Valued Logic (ISMVL) | Fredericton, Canada, May 2019 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2019_iscas.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2019_iscas.pdf")
      %img.pubthumb(src="images/nothumb.png")
    %h4.pubtitle#c110
      Exact synthesis of Boolean functions in majority-of-five forms
    .pubauthor
      Zhufei Chu,
      Winston Haaswijk,
      %strong Mathias Soeken,
      Lunyao Wang,
      Yinshui Xia,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Conference Paper 110
      In International Symposium on Circuits and Systems (ISCAS) | Sapporo, Japan, May 2019 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2019_date_4.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2019_date_4.pdf")
      %img.pubthumb(src="images/thumbs/2019_date_4.png")
    %h4.pubtitle#c109
      Compiling permutations for superconducting QPUs
    .pubauthor
      %strong Mathias Soeken,
      Fereshte Mozafari,
      Bruno Schmitt,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Conference Paper 109
      In Design, Automation and Test in Europe (DATE) | Florence, Italy, March 2019 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2019_date_3.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2019_date_3.pdf")
      %img.pubthumb(src="images/nothumb.png")
    %h4.pubtitle#c108
      Reversible pebbling game for quantum memory management
    .pubauthor
      Giulia Meuli,
      %strong Mathias Soeken,
      Martin Roetteler,
      Nikolaj Bjorner,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Conference Paper 108
      In Design, Automation and Test in Europe (DATE) | Florence, Italy, March 2019 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2019_date_2.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2019_date_2.pdf")
      %img.pubthumb(src="images/thumbs/2019_date_2.png")
    %h4.pubtitle#c107
      Scalable Boolean methods in a modern synthesis flow
    .pubauthor
      Eleonora Testa,
      Luca Gaetano Amarù,
      %strong Mathias Soeken,
      Alan Mishchenko,
      Patrick Vuillod,
      Jiong Luo,
      Christopher Casares,
      Pierre-Emmanuel Gaillardon,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Conference Paper 107
      In Design, Automation and Test in Europe (DATE) | Florence, Italy, March 2019 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2019_date_1.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2019_date_1.pdf")
      %img.pubthumb(src="images/thumbs/2019_date_1.png")
    %h4.pubtitle#c106
      On-the-fly and DAG-aware: Rewriting Boolean networks with exact synthesis
    .pubauthor
      Heinz Riener,
      Winston Haaswijk,
      Alan Mishchenko,
      Giovanni De Micheli,
      %strong Mathias Soeken
    .pubcite
      %span.label.label-warning Conference Paper 106
      In Design, Automation and Test in Europe (DATE) | Florence, Italy, March 2019 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2019_aspdac.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2019_aspdac.pdf")
      %img.pubthumb(src="images/thumbs/2019_aspdac.png")
    %h4.pubtitle#c105
      Structural rewriting in XOR-majority graphs
    .pubauthor
      Zhufei Chu,
      %strong Mathias Soeken,
      Yinshui Xia,
      Lunyao Wang
    .pubcite
      %span.label.label-warning Conference Paper 105
      In Asia and South Pacific Design Automation Conference (ASP-DAC) | Tokyo, Japan, January 2019 | Publisher: IEEE
%h4 2018
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2018_icecs.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2018_icecs.pdf")
      %img.pubthumb(src="images/thumbs/2018_icecs.png")
    %h4.pubtitle#c104
      Integrated ESOP refactoring for industrial designs
    .pubauthor
      Winston Haaswijk,
      Luca Gaetano Amarù,
      Jiong Luo,
      Patrick Vuillod,
      %strong Mathias Soeken,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Conference Paper 104
      In International Conference on Electronics, Circuits and Systems (ICECS) | Bordeaux, France, December 2018 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2018_iccad.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2018_iccad.pdf")
      %img.pubthumb(src="images/thumbs/2018_iccad.png")
    %h4.pubtitle#c103
      Majority logic synthesis (embedded tutorial)
    .pubauthor
      Luca Gaetano Amarù,
      Eleonora Testa,
      Miguel Couceiro,
      Odysseas Zografos,
      Giovanni De Micheli,
      %strong Mathias Soeken
    .pubcite
      %span.label.label-warning Conference Paper 103
      In International Conference on Computer-Aided Design (ICCAD) | San Diego, CA, USA, November 2018 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2018_nanoarch.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2018_nanoarch.pdf")
      %img.pubthumb(src="images/thumbs/2018_nanoarch.png")
    %h4.pubtitle#c102
      Size optimization of MIGs with an application to QCA and STMG technologies
    .pubauthor
      Heinz Riener,
      Eleonora Testa,
      Luca Gaetano Amarù,
      %strong Mathias Soeken,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Conference Paper 102
      In International Symposium on Nanoscale Architectures (NANOARCH) | Athens, Greece, July 2018 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1007/978-3-319-99498-7_11" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2018_rc_2.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2018_rc_2.pdf")
      %img.pubthumb(src="images/thumbs/2018_rc_2.png")
    %h4.pubtitle#c101
      Quantum circuits for floating-point arithmetic
    .pubauthor
      Thomas Haener,
      %strong Mathias Soeken,
      Martin Roetteler,
      Krysta M. Svore
    .pubcite
      %span.label.label-warning Conference Paper 101
      In Conference on Reversible Computation (RC) | Leicester, England, September 2018 | Pages 162&ndash;174 | Publisher: Springer
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1007/978-3-319-99498-7_12" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2018_rc_1.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2018_rc_1.pdf")
      %img.pubthumb(src="images/thumbs/2018_rc_1.png")
    %h4.pubtitle#c100
      SAT-based {CNOT, T} quantum circuit synthesis
    .pubauthor
      Giulia Meuli,
      %strong Mathias Soeken,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Conference Paper 100
      In Conference on Reversible Computation (RC) | Leicester, England, September 2018 | Pages 175&ndash;188 | Publisher: Springer
.item
  .pubmain
    .pubassets
      %a(href="http://doi.acm.org/10.1145/3195970.3196111" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2018_dac_2.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2018_dac_2.pdf")
      %img.pubthumb(src="images/thumbs/2018_dac_2.png")
    %h4.pubtitle#c99
      SAT based exact synthesis using DAG topology families
    .pubauthor
      Winston Haaswijk,
      Alan Mishchenko,
      %strong Mathias Soeken,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Conference Paper 99
      In Design Automation Conference (DAC) | San Francisco, CA, USA, June 2018 | Pages 53:1&ndash;53:6 | Publisher: ACM/IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://doi.acm.org/10.1145/3195970.3196006" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2018_dac_1.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2018_dac_1.pdf")
      %img.pubthumb(src="images/thumbs/2018_dac_1.png")
    %h4.pubtitle#c98
      Canonical computation without canonical representation
    .pubauthor
      Alan Mishchenko,
      Robert K. Brayton,
      Ana Petkovska,
      %strong Mathias Soeken,
      Luca Gaetano Amarù,
      Antun Domic
    .pubcite
      %span.label.label-warning Conference Paper 98
      In Design Automation Conference (DAC) | San Francisco, CA, USA, June 2018 | Pages 52:1&ndash;52:6 | Publisher: ACM/IEEE
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/ISMVL.2018.00042" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2018_ismvl_2.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2018_ismvl_2.pdf")
      %img.pubthumb(src="images/thumbs/2018_ismvl_2.png")
    %h4.pubtitle#c97
      A spectral algorithm for ternary function classification
    .pubauthor
      D. Michael Miller,
      %strong Mathias Soeken
    .pubcite
      %span.label.label-warning Conference Paper 97
      In International Symposium on Multiple-Valued Logic (ISMVL) | Linz, Austria, May 2018 | Pages 198&ndash;203 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/ISMVL.2018.00051" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2018_ismvl_1.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2018_ismvl_1.pdf")
      %img.pubthumb(src="images/thumbs/2018_ismvl_1.png")
    %h4.pubtitle#c96
      Translating between the roots of identity in quantum circuits
    .pubauthor
      Wouter Castryck,
      Jeroen Demeyer,
      Alexis De Vos,
      Oliver Keszocze,
      %strong Mathias Soeken
    .pubcite
      %span.label.label-warning Conference Paper 96
      In International Symposium on Multiple-Valued Logic (ISMVL) | Linz, Austria, May 2018 | Pages 254&ndash;259 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/ISCAS.2018.8351885" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2018_iscas.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2018_iscas.pdf")
      %img.pubthumb(src="images/thumbs/2018_iscas.png")
    %h4.pubtitle#c95
      Deep learning for logic optimization algorithms
    .pubauthor
      Winston Haaswijk,
      Edo Collins,
      Benoit Seguin,
      %strong Mathias Soeken,
      Sabine Süsstrunk,
      Frédéric Kaplan,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Conference Paper 95
      In International Symposium on Circuits and Systems (ISCAS) | Florence, Italy, May 2018 | Pages 1&ndash;4 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.23919/DATE.2018.8341993" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2018_date_3.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2018_date_3.pdf")
      %img.pubthumb(src="images/thumbs/2018_date_3.png")
    %h4.pubtitle#c94
      Programming quantum computers using design automation (invited executive session)
    .pubauthor
      %strong Mathias Soeken,
      Thomas Haener,
      Martin Roetteler
    .pubcite
      %span.label.label-warning Conference Paper 94
      In Design, Automation and Test in Europe (DATE) | Dresden, Germany, March 2018 | Pages 137&ndash;146 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.23919/DATE.2018.8342027" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2018_date_2.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2018_date_2.pdf")
      %img.pubthumb(src="images/thumbs/2018_date_2.png")
    %h4.pubtitle#c93
      Practical exact synthesis (invited executive session)
    .pubauthor
      %strong Mathias Soeken,
      Winston Haaswijk,
      Eleonora Testa,
      Alan Mishchenko,
      Luca Gaetano Amarù,
      Robert K. Brayton,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Conference Paper 93
      In Design, Automation and Test in Europe (DATE) | Dresden, Germany, March 2018 | Pages 309&ndash;314 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.23919/DATE.2018.8342108" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2018_date_1.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2018_date_1.pdf")
      %img.pubthumb(src="images/thumbs/2018_date_1.png")
    %h4.pubtitle#c92
      Improvements to Boolean resynthesis
    .pubauthor
      Luca Gaetano Amarù,
      %strong Mathias Soeken,
      Patrick Vuillod,
      Jiong Luo,
      Alan Mishchenko,
      Janet Olson,
      Robert K. Brayton,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Conference Paper 92
      In Design, Automation and Test in Europe (DATE) | Dresden, Germany, March 2018 | Pages 755&ndash;760 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/ASPDAC.2018.8297398" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2018_aspdac_2.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2018_aspdac_2.pdf")
      %img.pubthumb(src="images/thumbs/2018_aspdac_2.png")
    %h4.pubtitle#c91
      A best-fit mapping algorithm to facilitate ESOP-decomposition in Clifford+T quantum network synthesis
    .pubauthor
      Giulia Meuli,
      %strong Mathias Soeken,
      Martin Roetteler,
      Nathan Wiebe,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Conference Paper 91
      In Asia and South Pacific Design Automation Conference (ASP-DAC) | Jeju Island, Korea, January 2018 | Pages 664&ndash;669 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/ASPDAC.2018.8297400" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2018_aspdac_1.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2018_aspdac_1.pdf")
      %img.pubthumb(src="images/thumbs/2018_aspdac_1.png")
    %h4.pubtitle#c90
      Functional decomposition using majority
    .pubauthor
      Zhufei Chu,
      %strong Mathias Soeken,
      Yinshui Xia,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Conference Paper 90
      In Asia and South Pacific Design Automation Conference (ASP-DAC) | Jeju Island, Korea, January 2018 | Pages 676&ndash;681 | Publisher: IEEE
%h4 2017
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/ICCAD.2017.8203799" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2017_iccad.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2017_iccad.pdf")
      %img.pubthumb(src="images/thumbs/2017_iccad.png")
    %h4.pubtitle#c89
      Enabling exact delay synthesis
    .pubauthor
      Luca Gaetano Amarù,
      %strong Mathias Soeken,
      Patrick Vuillod,
      Jiong Luo,
      Alan Mishchenko,
      Pierre-Emmanuel Gaillardon,
      Janet Olson,
      Robert K. Brayton,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Conference Paper 89
      In International Conference on Computer-Aided Design (ICCAD) | Irvine, CA, USA, November 2017 | Pages  352&ndash;359 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/ISVLSI.2017.37" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2017_isvlsi.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2017_isvlsi.pdf")
      %img.pubthumb(src="images/thumbs/2017_isvlsi.png")
    %h4.pubtitle#c88
      Inverter propagation and fan-out constraints for beyond-CMOS majority-based technologies
    .pubauthor
      Eleonora Testa,
      Odysseas Zografos,
      %strong Mathias Soeken,
      Adrien Vaysset,
      Mauricio Manfrini,
      Rudy Lauwereins,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Conference Paper 88
      In IEEE Computer Society Annual Symposium on VLSI (ISVLSI) | Bochum, Germany, July 2017 | Pages 164&ndash;169 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://doi.acm.org/10.1145/3071178.3071281" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2017_gecco.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2017_gecco.pdf")
      %img.pubthumb(src="images/thumbs/2017_gecco.png")
    %h4.pubtitle#c87
      An adaptive prioritized ε-preferred evolutionary algorithm for approximate BDD optimization
    .pubauthor
      Saeideh Shirinzadeh,
      %strong Mathias Soeken,
      Daniel Große,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 87
      In Genetic and Evolutionary Computation Conference (GECCO) | Berlin, Germany, July 2017 | Pages 1232&ndash;1239 | Publisher: ACM
.item
  .pubmain
    .pubassets
      %a(href="http://doi.acm.org/10.1145/3061639.3062261" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2017_dac.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2017_dac.pdf")
      %img.pubthumb(src="images/thumbs/2017_dac.png")
    %h4.pubtitle#c86
      Hierarchical reversible logic synthesis using LUTs
    .pubauthor
      %strong Mathias Soeken,
      Martin Roetteler,
      Nathan Wiebe,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Conference Paper 86
      In Design Automation Conference (DAC) | Austin, TX, USA, June 2017 | Pages 78:1&ndash;78:6 | Publisher: ACM/IEEE
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/ISCAS.2017.8050223" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2017_iscas.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2017_iscas.pdf")
      %img.pubthumb(src="images/thumbs/2017_iscas.png")
    %h4.pubtitle#c85
      RM3 based logic synthesis
    .pubauthor
      %strong Mathias Soeken,
      Pierre-Emmanuel Gaillardon,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Conference Paper 85
      In International Symposium on Circuits and Systems (ISCAS) | Baltimore, MD, USA, May 2017 | Pages 1&ndash;4 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://doi.acm.org/10.1145/3060403.3060432" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2017_glsvlsi.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2017_glsvlsi.pdf")
      %img.pubthumb(src="images/thumbs/2017_glsvlsi.png")
    %h4.pubtitle#c84
      Improving circuit mapping performance through MIG-based synthesis for carry chains
    .pubauthor
      Zhufei Chu,
      Xifan Tang,
      %strong Mathias Soeken,
      Ana Petkovska,
      Grace Zgheib,
      Luca Gaetano Amarù,
      Yinshui Xia,
      Paolo Ienne,
      Giovanni De Micheli,
      Pierre-Emmanuel Gaillardon
    .pubcite
      %span.label.label-warning Conference Paper 84
      In Great Lakes Symposium on VLSI (GLSVLSI) | Banff, AB, Canada, May 2017 | Pages 131&ndash;136 | Publisher: ACM
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/ISMVL.2017.44" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2017_ismvl.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2017_ismvl.pdf")
      %img.pubthumb(src="images/thumbs/2017_ismvl.png")
    %h4.pubtitle#c83
      Classifying functions with exact synthesis
    .pubauthor
      Winston Haaswijk,
      Eleonora Testa,
      %strong Mathias Soeken,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Conference Paper 83
      In International Symposium on Multiple-Valued Logic (ISMVL) | Novi Sad, Serbia, May 2017 | Pages 272&ndash;277 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.23919/DATE.2017.7927195" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2017_date_4.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2017_date_4.pdf")
      %img.pubthumb(src="images/thumbs/2017_date_4.png")
    %h4.pubtitle#c82
      Wave pipelining for majority-based beyond-CMOS technologies (invited special session)
    .pubauthor
      Odysseas Zografos,
      Anton De Meester,
      Eleonora Testa,
      %strong Mathias Soeken,
      Pierre-Emmanuel Gaillardon,
      Giovanni De Micheli,
      Luca Gaetano Amarù,
      Praveen Raghavan,
      Francky Catthoor,
      Rudy Lauwereins
    .pubcite
      %span.label.label-warning Conference Paper 82
      In Design, Automation and Test in Europe (DATE) | Lausanne, Switzerland, March 2017 | Pages 1306&ndash;1311 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.23919/DATE.2017.7927035" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2017_date_3.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2017_date_3.pdf")
      %img.pubthumb(src="images/thumbs/2017_date_3.png")
    %h4.pubtitle#c81
      Design automation and design space exploration for quantum computers
    .pubauthor
      %strong Mathias Soeken,
      Martin Roetteler,
      Nathan Wiebe,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Conference Paper 81
      In Design, Automation and Test in Europe (DATE) | Lausanne, Switzerland, March 2017 | Pages 470&ndash;475 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.23919/DATE.2017.7927103" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2017_date_2.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2017_date_2.pdf")
      %img.pubthumb(src="images/thumbs/2017_date_2.png")
    %h4.pubtitle#c80
      Busy Man's Synthesis: Combinational delay optimization with SAT
    .pubauthor
      %strong Mathias Soeken,
      Giovanni De Micheli,
      Alan Mishchenko
    .pubcite
      %span.label.label-warning Conference Paper 80
      In Design, Automation and Test in Europe (DATE) | Lausanne, Switzerland, March 2017 | Pages 830&ndash;835 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.23919/DATE.2017.7927152" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2017_date_1.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2017_date_1.pdf")
      %img.pubthumb(src="images/thumbs/2017_date_1.png")
    %h4.pubtitle#c79
      Endurance management for resistive logic-in-memory computing architectures
    .pubauthor
      Saeideh Shirinzadeh,
      %strong Mathias Soeken,
      Pierre-Emmanuel Gaillardon,
      Giovanni De Micheli,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 79
      In Design, Automation and Test in Europe (DATE) | Lausanne, Switzerland, March 2017 | Pages 1092-1097 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1109/ASPDAC.2017.7858313" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2017_aspdac_2.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2017_aspdac_2.pdf")
      %img.pubthumb(src="images/thumbs/2017_aspdac_2.png")
    %h4.pubtitle#c78
      Multi-level logic benchmarks: An exactness study
    .pubauthor
      Luca Gaetano Amarù,
      %strong Mathias Soeken,
      Winston Haaswijk,
      Eleonora Testa,
      Patrick Vuillod,
      Jiong Luo,
      Pierre-Emmanuel Gaillardon,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Conference Paper 78
      In Asia and South Pacific Design Automation Conference (ASP-DAC) | Tokyo, Japan, January 2017 | Pages 157&ndash;162 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1109/ASPDAC.2017.7858312" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2017_aspdac_1.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2017_aspdac_1.pdf")
      %img.pubthumb(src="images/thumbs/2017_aspdac_1.png")
    %h4.pubtitle#c77
      A novel basis for logic rewriting
    .pubauthor
      Winston Haaswijk,
      %strong Mathias Soeken,
      Luca Gaetano Amarù,
      Pierre-Emmanuel Gaillardon,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Conference Paper 77
      In Asia and South Pacific Design Automation Conference (ASP-DAC) | Tokyo, Japan, January 2017 | Pages 151&ndash;156 | Publisher: IEEE
%h4 2016
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1007/978-3-319-49052-6_1" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2016_hvc.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2016_hvc.pdf")
      %img.pubthumb(src="images/thumbs/2016_hvc.png")
    %h4.pubtitle#c76
      SAT-based combinational and sequential dependency computation
    .pubauthor
      %strong Mathias Soeken,
      Pascal Raiola,
      Baruch Sterin,
      Bernd Becker,
      Giovanni De Micheli,
      Matthias Sauer
    .pubcite
      %span.label.label-warning Conference Paper 76
      In Haifa Verification Conference (HVC) | Haifa, Israel, November 2016 | Pages 1&ndash;17 | Publisher: Springer
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1109/FMCAD.2016.7886676" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2016_fmcad.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2016_fmcad.pdf")
      %img.pubthumb(src="images/thumbs/2016_fmcad.png")
    %h4.pubtitle#c75
      Equivalence checking using Gröbner bases
    .pubauthor
      Amr Sayed Ahmed,
      Daniel Große,
      %strong Mathias Soeken,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 75
      In Formal Methods in Computer-Aided Design (FMCAD) | Mountain View, CA, USA, October 2016 | Pages 169&ndash;176 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1109/FPL.2016.7577306" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2016_fpl.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2016_fpl.pdf")
      %img.pubthumb(src="images/thumbs/2016_fpl.png")
    %h4.pubtitle#c74
      Fast hierarchical NPN classification
    .pubauthor
      Ana Petkovska,
      %strong Mathias Soeken,
      Giovanni De Micheli,
      Paolo Ienne,
      Alan Mishchenko
    .pubcite
      %span.label.label-warning Conference Paper 74
      In International Conference on Field-Programmable Logic and Applications (FPL) | Lausanne, Switzerland, September 2016 | Pages 1&ndash;4 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://doi.acm.org/10.1145/2966986.2980093" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2016_iccad_3.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2016_iccad_3.pdf")
      %img.pubthumb(src="images/thumbs/2016_iccad_3.png")
    %h4.pubtitle#c73
      Multilevel design understanding: from specification to logic (invited special session)
    .pubauthor
      Sandip Ray,
      Ian G. Harris,
      Görschwin Fey,
      %strong Mathias Soeken
    .pubcite
      %span.label.label-warning Conference Paper 73
      In International Conference on Computer-Aided Design (ICCAD) | Austin, TX, USA, November 2016 | Pages 133 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://doi.acm.org/10.1145/2966986.2967040" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2016_iccad_2.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2016_iccad_2.pdf")
      %img.pubthumb(src="images/thumbs/2016_iccad_2.png")
    %h4.pubtitle#c72
      Fast generation of lexicographic satisfiable assignments: enabling canonicity in SAT-based applications
    .pubauthor
      Ana Petkovska,
      Alan Mishchenko,
      %strong Mathias Soeken,
      Giovanni De Micheli,
      Robert K. Brayton,
      Paolo Ienne
    .pubcite
      %span.label.label-warning Conference Paper 72
      In International Conference on Computer-Aided Design (ICCAD) | Austin, TX, USA, November 2016 | Pages 4 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://doi.acm.org/10.1145/2966986.2967003" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2016_iccad_1.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2016_iccad_1.pdf")
      %img.pubthumb(src="images/thumbs/2016_iccad_1.png")
    %h4.pubtitle#c71
      Approximation-aware rewriting of AIGs for error tolerant applications
    .pubauthor
      Arun Chandrasekharan,
      %strong Mathias Soeken,
      Daniel Große,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 71
      In International Conference on Computer-Aided Design (ICCAD) | Austin, TX, USA, November 2016 | Pages 83 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1145/2950067.2950072" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2016_nanoarch.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2016_nanoarch.pdf")
      %img.pubthumb(src="images/thumbs/2016_nanoarch.png")
    %h4.pubtitle#c70
      Inversion optimization in majority-inverter graphs
    .pubauthor
      Eleonora Testa,
      %strong Mathias Soeken,
      Odysseas Zografos,
      Luca Gaetano Amarù,
      Praveen Raghavan,
      Rudy Lauwereins,
      Pierre-Emmanuel Gaillardon,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Conference Paper 70
      In International Symposium on Nanoscale Architectures (NANOARCH) | Beijing, China, July 2016 | Pages 15&ndash;20 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1007/978-3-319-40970-2_14" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2016_sat.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2016_sat.pdf")
      %img.pubthumb(src="images/thumbs/2016_sat.png")
    %h4.pubtitle#c69
      Heuristic NPN classification for large functions using AIGs and LEXSAT
    .pubauthor
      %strong Mathias Soeken,
      Alan Mishchenko,
      Ana Petkovska,
      Baruch Sterin,
      Paolo Ienne,
      Robert K. Brayton,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Conference Paper 69
      In International Conference on Theory and Applications of Satisfiability Testing (SAT) | Bordeaux, France, July 2016 | Pages 212&ndash;227 | Publisher: Springer
    .pubcite(style="color: #990000")
      %%span.glyphicon.glyphicon-certificate
      %b Best paper candidate
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1007/978-3-319-40578-0_19" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2016_rc_2.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2016_rc_2.pdf")
      %img.pubthumb(src="images/thumbs/2016_rc_2.png")
    %h4.pubtitle#c68
      Enumeration of reversible functions and its application to circuit complexity
    .pubauthor
      %strong Mathias Soeken,
      Nabila Abdessaied,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Conference Paper 68
      In Conference on Reversible Computation (RC) | Bologna, Italy, July 2016 | Pages 255&ndash;270 | Publisher: Springer
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1007/978-3-319-40578-0_22" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2016_rc_1.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2016_rc_1.pdf")
      %img.pubthumb(src="images/thumbs/2016_rc_1.png")
    %h4.pubtitle#c67
      A fast symbolic transformation based algorithm for reversible logic synthesis
    .pubauthor
      %strong Mathias Soeken,
      Gerhard W. Dueck,
      D. Michael Miller
    .pubcite
      %span.label.label-warning Conference Paper 67
      In Conference on Reversible Computation (RC) | Bologna, Italy, July 2016 | Pages 307&ndash;321 | Publisher: Springer
.item
  .pubmain
    .pubassets
      %a(href="http://doi.acm.org/10.1145/2908961.2908987" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2016_gecco.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2016_gecco.pdf")
      %img.pubthumb(src="images/thumbs/2016_gecco.png")
    %h4.pubtitle#c66
      Approximate BDD optimization with prioritized ε-preferred evolutionary algorithm
    .pubauthor
      Saeideh Shirinzadeh,
      %strong Mathias Soeken,
      Daniel Große,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 66
      In Genetic and Evolutionary Computation Conference (GECCO) | Denver, CO, USA, July 2016 | Pages 79&ndash;80 | Publisher: ACM
.item
  .pubmain
    .pubassets
      %a(href="http://doi.acm.org/10.1145/2897937.2897985" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2016_dac_3.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2016_dac_3.pdf")
      %img.pubthumb(src="images/thumbs/2016_dac_3.png")
    %h4.pubtitle#c65
      An MIG-based compiler for programmable logic-in-memory architectures
    .pubauthor
      %strong Mathias Soeken,
      Saeideh Shirinzadeh,
      Pierre-Emmanuel Gaillardon,
      Luca Gaetano Amarù,
      Rolf Drechsler,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Conference Paper 65
      In Design Automation Conference (DAC) | Austin, TX, USA, June 2016 | Pages 117:1&ndash;117:6 | Publisher: ACM/IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://doi.acm.org/10.1145/2897937.2898107" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2016_dac_2.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2016_dac_2.pdf")
      %img.pubthumb(src="images/thumbs/2016_dac_2.png")
    %h4.pubtitle#c64
      Unlocking efficiency and scalability of reversible logic synthesis using conventional logic synthesis
    .pubauthor
      %strong Mathias Soeken,
      Anupam Chattopadhyay
    .pubcite
      %span.label.label-warning Conference Paper 64
      In Design Automation Conference (DAC) | Austin, TX, USA, June 2016 | Pages 149:1&ndash;149:6 | Publisher: ACM/IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://doi.acm.org/10.1145/2897937.2898069" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2016_dac_1.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2016_dac_1.pdf")
      %img.pubthumb(src="images/thumbs/2016_dac_1.png")
    %h4.pubtitle#c63
      Precise error determination of approximated components in sequential circuits with model checking
    .pubauthor
      Arun Chandrasekharan,
      %strong Mathias Soeken,
      Daniel Große,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 63
      In Design Automation Conference (DAC) | Austin, TX, USA, June 2016 | Pages 129:1&ndash;129:6 | Publisher: ACM/IEEE
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/ISMVL.2016.33" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2016_ismvl_2.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2016_ismvl_2.pdf")
      %img.pubthumb(src="images/thumbs/2016_ismvl_2.png")
    %h4.pubtitle#c62
      Technology mapping of reversible circuits to Clifford+T quantum circuits
    .pubauthor
      Nabila Abdessaied,
      Matthew Amy,
      %strong Mathias Soeken,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 62
      In International Symposium on Multiple-Valued Logic (ISMVL) | Sapporo, Japan, May 2016 | Pages 150&ndash;155 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/ISMVL.2016.21" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2016_ismvl_1.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2016_ismvl_1.pdf")
      %img.pubthumb(src="images/thumbs/2016_ismvl_1.png")
    %h4.pubtitle#c61
      Notes on majority Boolean algebra
    .pubauthor
      Anupam Chattopadhyay,
      Luca Gaetano Amarù,
      %strong Mathias Soeken,
      Pierre-Emmanuel Gaillardon,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Conference Paper 61
      In International Symposium on Multiple-Valued Logic (ISMVL) | Sapporo, Japan, May 2016 | Pages 50&ndash;55 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1109/ISCAS.2016.7539041" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2016_iscas.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2016_iscas.pdf")
      %img.pubthumb(src="images/thumbs/2016_iscas.png")
    %h4.pubtitle#c60
      An extension of transformation-based reversible and quantum circuit synthesis
    .pubauthor
      %strong Mathias Soeken,
      Gerhard W. Dueck,
      Md. Mazder Rahman,
      D. Michael Miller
    .pubcite
      %span.label.label-warning Conference Paper 60
      In International Symposium on Circuits and Systems (ISCAS) | Montreal, QC, Canada, May 2016 | Pages 2290&ndash;2293 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1109/DDECS.2016.7482461" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2016_ddecs.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2016_ddecs.pdf")
      %img.pubthumb(src="images/thumbs/2016_ddecs.png")
    %h4.pubtitle#c59
      Multi-objective BDD optimization for RRAM based circuit design
    .pubauthor
      Saeideh Shirinzadeh,
      %strong Mathias Soeken,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 59
      In IEEE International Symposium on Design and Diagnostics of Electronic Circuits and Systems (DDECS) | Košice, Slovakia, April 2016 | Pages 46&ndash;15 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://ieeexplore.ieee.org/xpl/freeabs_all.jsp?arnumber=7459461" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2016_date_3.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2016_date_3.pdf")
      %img.pubthumb(src="images/thumbs/2016_date_3.png")
    %h4.pubtitle#c58
      Optimizing majority-inverter graphs with functional hashing
    .pubauthor
      %strong Mathias Soeken,
      Luca Gaetano Amarù,
      Pierre-Emmanuel Gaillardon,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Conference Paper 58
      In Design, Automation and Test in Europe (DATE) | Dresden, Germany, March 2016 | Pages 1030&ndash;1035 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://ieeexplore.ieee.org/xpl/freeabs_all.jsp?arnumber=7459444" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2016_date_2.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2016_date_2.pdf")
      %img.pubthumb(src="images/thumbs/2016_date_2.png")
    %h4.pubtitle#c57
      Fast logic synthesis for RRAM-based in-memory computing using majority-inverter graphs
    .pubauthor
      Saeideh Shirinzadeh,
      %strong Mathias Soeken,
      Pierre-Emmanuel Gaillardon,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 57
      In Design, Automation and Test in Europe (DATE) | Dresden, Germany, March 2016 | Pages 948&ndash;953 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://ieeexplore.ieee.org/xpl/freeabs_all.jsp?arnumber=7459464" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2016_date_1.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2016_date_1.pdf")
      %img.pubthumb(src="images/thumbs/2016_date_1.png")
    %h4.pubtitle#c56
      Formal verification of integer multipliers by combining Gröbner basis with logic reduction
    .pubauthor
      Amr Sayed Ahmed,
      Daniel Große,
      Ulrich Kühne,
      %strong Mathias Soeken,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 56
      In Design, Automation and Test in Europe (DATE) | Dresden, Germany, March 2016 | Pages 1048&ndash;1053 | Publisher: IEEE
    .pubcite(style="color: #990000")
      %%span.glyphicon.glyphicon-certificate
      %b Best paper candidate
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1109/LASCAS.2016.7451017" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2016_lascas.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2016_lascas.pdf")
      %img.pubthumb(src="images/thumbs/2016_lascas.png")
    %h4.pubtitle#c55
      Dynamic NoC buffer allocation for MPSoC timing side channel attack protection
    .pubauthor
      Johanna Sepulveda,
      Daniel Florez,
      %strong Mathias Soeken,
      Jean-Philippe Diguet,
      Guy Gogniat
    .pubcite
      %span.label.label-warning Conference Paper 55
      In IEEE Latin Amarican Symposium on Circuits and Systems (LASCAS) | Florianopolis, Brazil, February 2016 | Pages 91&ndash;94 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1109/ASPDAC.2016.7428057" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2016_aspdac.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2016_aspdac.pdf")
      %img.pubthumb(src="images/thumbs/2016_aspdac.png")
    %h4.pubtitle#c54
      BDD minimization for approximate computing
    .pubauthor
      %strong Mathias Soeken,
      Daniel Große,
      Arun Chandrasekharan,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 54
      In Asia and South Pacific Design Automation Conference (ASP-DAC) | Macau, China, January 2016 | Pages 474&ndash;479 | Publisher: IEEE
%h4 2015
.item
  .pubmain
    .pubassets
      %a(href="http://ceur-ws.org/Vol-1514/paper6.pdf" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2015_modevva.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2015_modevva.pdf")
      %img.pubthumb(src="images/thumbs/2015_modevva.png")
    %h4.pubtitle#c53
      Towards an automatic approach for restricting UML/OCL invariability clauses
    .pubauthor
      Nils Przigoda,
      Judith Peters,
      %strong Mathias Soeken,
      Robert Wille,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 53
      In Model-Driven Engineering, Verification, And Validation (MoDeVVa) | Ottawa, ON, Canada, October 2015 | Pages 44&ndash;47 | Publisher: ACM
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1007/978-3-319-21215-9_12" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2015_tap.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2015_tap.pdf")
      %img.pubthumb(src="images/thumbs/2015_tap.png")
    %h4.pubtitle#c52
      Coverage of OCL operation specifications and invariants
    .pubauthor
      %strong Mathias Soeken,
      Julia Seiter,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 52
      In International Conference on Tests and Proofs (TAP) | L'Aquila, Italy, July 2015 | Pages 191&ndash;207 | Publisher: Springer
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1109/VLSI-SoC.2015.7314431" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2015_vlsisoc.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2015_vlsisoc.pdf")
      %img.pubthumb(src="images/thumbs/2015_vlsisoc.png")
    %h4.pubtitle#c51
      Reversible circuit rewriting with simulated annealing
    .pubauthor
      Nabila Abdessaied,
      %strong Mathias Soeken,
      Gerhard W. Dueck,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 51
      In International Conference on Very Large Scale Integration (VLSI-SoC) | Daejon, Korea, October 2015 | Pages 286&ndash;291 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1007/978-3-319-20860-2_13" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2015_rc_2.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2015_rc_2.pdf")
      %img.pubthumb(src="images/thumbs/2015_rc_2.png")
    %h4.pubtitle#c50
      Ricercar: A language for describing and rewriting reversible circuits with ancillae and its permutation semantics
    .pubauthor
      Michael Kirkedal Thomsen,
      Robin Kaasgaard Jensen,
      %strong Mathias Soeken
    .pubcite
      %span.label.label-warning Conference Paper 50
      In Conference on Reversible Computation (RC) | Grenoble, France, July 2015 | Pages 200&ndash;215 | Publisher: Springer
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1007/978-3-319-20860-2_14" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2015_rc_1.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2015_rc_1.pdf")
      %img.pubthumb(src="images/thumbs/2015_rc_1.png")
    %h4.pubtitle#c49
      Technology mapping for quantum circuits using Boolean functional decomposition
    .pubauthor
      Nabila Abdessaied,
      %strong Mathias Soeken,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 49
      In Conference on Reversible Computation (RC) | Grenoble, France, July 2015 | Pages 219&ndash;232 | Publisher: Springer
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2015_fmcad.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2015_fmcad.pdf")
      %img.pubthumb(src="images/thumbs/2015_fmcad.png")
    %h4.pubtitle#c48
      Reverse engineering with simulation graphs
    .pubauthor
      %strong Mathias Soeken,
      Baruch Sterin,
      Rolf Drechsler,
      Robert K. Brayton
    .pubcite
      %span.label.label-warning Conference Paper 48
      In Formal Methods in Computer-Aided Design (FMCAD) | Austin, TX, USA, September 2015 | Pages 152&ndash;159 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://doi.acm.org/10.1145/2739480.2754718" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2015_gecco.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2015_gecco.pdf")
      %img.pubthumb(src="images/thumbs/2015_gecco.png")
    %h4.pubtitle#c47
      Multi-objective BDD optimization with evolutionary algorithms
    .pubauthor
      Saeideh Shirinzadeh,
      %strong Mathias Soeken,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 47
      In Genetic and Evolutionary Computation Conference (GECCO) | Madrid, Spain, July 2015 | Pages 751&ndash;758 | Publisher: ACM
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1109/DDECS.2015.19" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2015_ddecs.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2015_ddecs.pdf")
      %img.pubthumb(src="images/thumbs/2015_ddecs.png")
    %h4.pubtitle#c46
      Sentence quality assessment based on natural language processing and artificial ingelligence
    .pubauthor
      Arman Allahyari-Abhari,
      %strong Mathias Soeken,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 46
      In IEEE International Symposium on Design and Diagnostics of Electronic Circuits and Systems (DDECS) | Belgrad, Serbia, April 2015 | Pages 183&ndash;188 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1109/ISMVL.2015.37" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2015_ismvl_2.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2015_ismvl_2.pdf")
      %img.pubthumb(src="images/thumbs/2015_ismvl_2.png")
    %h4.pubtitle#c45
      Fredkin-enabled transformation-based reversible logic synthesis
    .pubauthor
      %strong Mathias Soeken,
      Anupam Chattopadhyay
    .pubcite
      %span.label.label-warning Conference Paper 45
      In International Symposium on Multiple-Valued Logic (ISMVL) | Waterloo, ON, Canada, May 2015 | Pages 60&ndash;65 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1109/ISMVL.2015.44" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2015_ismvl_1.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2015_ismvl_1.pdf")
      %img.pubthumb(src="images/thumbs/2015_ismvl_1.png")
    %h4.pubtitle#c44
      Dynamic template matching with mixed-polarity Toffoli gates
    .pubauthor
      Md. Mazder Rahman,
      %strong Mathias Soeken,
      Gerhard W. Dueck
    .pubcite
      %span.label.label-warning Conference Paper 44
      In International Symposium on Multiple-Valued Logic (ISMVL) | Waterloo, ON, Canada, May 2015 | Pages 72&ndash;77 | Publisher: IEEE
%h4 2014
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1109/FDL.2014.7119353" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2014_fdl_2.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2014_fdl_2.pdf")
      %img.pubthumb(src="images/thumbs/2014_fdl_2.png")
    %h4.pubtitle#c43
      metaSMT: A unified interface to SMT-LIB2
    .pubauthor
      Heinz Riener,
      %strong Mathias Soeken,
      Clemens Werther,
      Görschwin Fey,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 43
      In Forum on Specification and Design Languages (FDL) | Munich, Germany, October 2014 | Pages 1&ndash;6 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1109/FDL.2014.7119356" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2014_fdl_1.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2014_fdl_1.pdf")
      %img.pubthumb(src="images/thumbs/2014_fdl_1.png")
    %h4.pubtitle#c42
      Automating the translation of assertions using natural language processing techniques
    .pubauthor
      %strong Mathias Soeken,
      Christopher B. Harris,
      Nabila Abdessaied,
      Ian G. Harris,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 42
      In Forum on Specification and Design Languages (FDL) | Munich, Germany, October 2014 | Pages 1&ndash;8 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://doi.acm.org/10.1145/2660540.2660983" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2014_sbcci.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2014_sbcci.pdf")
      %img.pubthumb(src="images/thumbs/2014_sbcci.png")
    %h4.pubtitle#c41
      Self-verification as the key technology for next generation electronic systems
    .pubauthor
      Rolf Drechsler,
      Hoang M. Le,
      %strong Mathias Soeken
    .pubcite
      %span.label.label-warning Conference Paper 41
      In Symposium on Integrated Circuits and Systems Design (SBCCI) | Aracaju, Brazil, September 2014 | Pages 15:1&ndash;15:4 | Publisher: ACM
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1007/978-3-662-44739-0_35" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2014_apms.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2014_apms.pdf")
      %img.pubthumb(src="images/thumbs/2014_apms.png")
    %h4.pubtitle#c40
      Requirements engineering for cyber-physical systems - challenges in the context of "Industrie 4.0"
    .pubauthor
      Stefan Wiesner,
      Christian Gorldt,
      %strong Mathias Soeken,
      Klaus-Dieter Thoben,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 40
      In Advances in Production Management Systems (APMS) | Ajaccio, France, September 2014 | Pages 281&ndash;288 | Publisher: IFIP
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1109/ICCAD.2014.7001410" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2014_iccad.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2014_iccad.pdf")
      %img.pubthumb(src="images/thumbs/2014_iccad.png")
    %h4.pubtitle#c39
      Automated and quality-driven requirements engineering (invited tutorial)
    .pubauthor
      Rolf Drechsler,
      %strong Mathias Soeken,
      Robert Wille
    .pubcite
      %span.label.label-warning Conference Paper 39
      In International Conference on Computer-Aided Design (ICCAD) | San Jose, CA, USA, November 2014 | Pages 586&ndash;590 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1007/978-3-319-09099-3_5" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2014_tap.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2014_tap.pdf")
      %img.pubthumb(src="images/thumbs/2014_tap.png")
    %h4.pubtitle#c38
      Behaviour driven development for tests and verification
    .pubauthor
      Melanie Diepenbeck,
      Ulrich Kühne,
      %strong Mathias Soeken,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 38
      In International Conference on Tests and Proofs (TAP) | York, England, July 2014 | Pages 61&ndash;77 | Publisher: Springer
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1007/978-3-319-08494-7_13" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2014_rc_2.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2014_rc_2.pdf")
      %img.pubthumb(src="images/thumbs/2014_rc_2.png")
    %h4.pubtitle#c37
      Mapping NCV circuits to optimized Clifford+T circuits
    .pubauthor
      D. Michael Miller,
      %strong Mathias Soeken,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 37
      In Conference on Reversible Computation (RC) | Kyoto, Japan, July 2014 | Pages 163&ndash;175 | Publisher: Springer
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1007/978-3-319-08494-7_12" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2014_rc_1.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2014_rc_1.pdf")
      %img.pubthumb(src="images/thumbs/2014_rc_1.png")
    %h4.pubtitle#c36
      Quantum circuit optimization by Hadamard gate reduction
    .pubauthor
      Nabila Abdessaied,
      %strong Mathias Soeken,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 36
      In Conference on Reversible Computation (RC) | Kyoto, Japan, July 2014 | Pages 149&ndash;162 | Publisher: Springer
%h4 2013
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1109/IDT.2013.6727084" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2013_idt.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2013_idt.pdf")
      %img.pubthumb(src="images/thumbs/2013_idt.png")
    %h4.pubtitle#c35
      Grammar-based program generation based on model finding
    .pubauthor
      %strong Mathias Soeken,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 35
      In International Test and Design Symposium (IDT) | Marrakesh, Marocco, December 2013 | Pages 1&ndash;5 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1007/978-3-642-38986-3_16" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2013_rc_2.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2013_rc_2.pdf")
      %img.pubthumb(src="images/thumbs/2013_rc_2.png")
    %h4.pubtitle#c34
      White dots do matter: Rewriting reversible logic circuits
    .pubauthor
      %strong Mathias Soeken,
      Michael Kirkedal Thomsen
    .pubcite
      %span.label.label-warning Conference Paper 34
      In Conference on Reversible Computation (RC) | Victoria, BC, Canada, July 2013 | Pages 196&ndash;208 | Publisher: Springer
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1007/978-3-642-38986-3_18" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2013_rc_1.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2013_rc_1.pdf")
      %img.pubthumb(src="images/thumbs/2013_rc_1.png")
    %h4.pubtitle#c33
      Reducing the depth of quantum circuits using additional lines
    .pubauthor
      Nabila Abdessaied,
      Robert Wille,
      %strong Mathias Soeken,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 33
      In Conference on Reversible Computation (RC) | Victoria, BC, Canada, July 2013 | Pages 221&ndash;233 | Publisher: Springer
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1109/DDECS.2013.6549775" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2013_ddecs.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2013_ddecs.pdf")
      %img.pubthumb(src="images/thumbs/2013_ddecs.png")
    %h4.pubtitle#c32
      Hardware-software co-visualization: Developing systems in the holodeck
    .pubauthor
      Rolf Drechsler,
      %strong Mathias Soeken
    .pubcite
      %span.label.label-warning Conference Paper 32
      In IEEE International Symposium on Design and Diagnostics of Electronic Circuits and Systems (DDECS) | Karlovy Vary, Czech Republic, April 2013 | Pages 1&ndash;4 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1524/9783486858983.19" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2013_dgk.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2013_dgk.pdf")
      %img.pubthumb(src="images/thumbs/2013_dgk.png")
    %h4.pubtitle#c31
      Evaluation of site occupancy factors in crystal structure refinements using Boolean satisfiability techniques
    .pubauthor
      %strong Mathias Soeken,
      Rolf Drechsler,
      Reinhard X. Fischer
    .pubcite
      %span.label.label-warning Conference Paper 31
      In Annual Conference of the German Crystallographic Society (DGK) | Freiberg, Germany, March 2013 | Pages 19 | Publisher: 
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1109/IWAST.2013.6595796" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2013_ast.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2013_ast.pdf")
      %img.pubthumb(src="images/thumbs/2013_ast.png")
    %h4.pubtitle#c30
      Towards automatic scenario generation from coverage information
    .pubauthor
      Melanie Diepenbeck,
      %strong Mathias Soeken,
      Daniel Große,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 30
      In International Workshop on Automation of Software Test (AST) | San Francisco, CA, USA, May 2013 | Pages 82&ndash;88 | Publisher: ACM
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1109/ISMVL.2013.22" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2013_ismvl_2.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2013_ismvl_2.pdf")
      %img.pubthumb(src="images/thumbs/2013_ismvl_2.png")
    %h4.pubtitle#c29
      Debugging of reversible circuits using πDDs
    .pubauthor
      Laura Tague,
      %strong Mathias Soeken,
      Shin-ichi Minato,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 29
      In International Symposium on Multiple-Valued Logic (ISMVL) | Toyama, Japan, May 2013 | Pages 316&ndash;321 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1109/ISMVL.2013.26" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2013_ismvl_1.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2013_ismvl_1.pdf")
      %img.pubthumb(src="images/thumbs/2013_ismvl_1.png")
    %h4.pubtitle#c28
      Exact template matching using Boolean satisfiability
    .pubauthor
      Nabila Abdessaied,
      %strong Mathias Soeken,
      Robert Wille,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 28
      In International Symposium on Multiple-Valued Logic (ISMVL) | Toyama, Japan, May 2013 | Pages 328&ndash;333 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://dl.acm.org/citation.cfm?id=2485574" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2013_date_2.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2013_date_2.pdf")
      %img.pubthumb(src="images/thumbs/2013_date_2.png")
    %h4.pubtitle#c27
      Determining relevant model elements for the verification of UML/OCL specifications
    .pubauthor
      Julia Seiter,
      Robert Wille,
      %strong Mathias Soeken,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 27
      In Design, Automation and Test in Europe (DATE) | Grenoble, France, March 2013 | Pages 1189&ndash;1192 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://dl.acm.org/citation.cfm?id=2485575" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2013_date_1.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2013_date_1.pdf")
      %img.pubthumb(src="images/thumbs/2013_date_1.png")
    %h4.pubtitle#c26
      Towards a generic verification methodology for system models
    .pubauthor
      Robert Wille,
      Martin Gogolla,
      %strong Mathias Soeken,
      Mirko Kuhlmann,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 26
      In Design, Automation and Test in Europe (DATE) | Grenoble, France, March 2013 | Pages 1193&ndash;1196 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1109/ASPDAC.2013.6509587" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2013_aspdac.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2013_aspdac.pdf")
      %img.pubthumb(src="images/thumbs/2013_aspdac.png")
    %h4.pubtitle#c25
      Improving the mapping of reversible circuits to quantum circuits using multiple target lines
    .pubauthor
      Robert Wille,
      %strong Mathias Soeken,
      Christian Otterstedt,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 25
      In Asia and South Pacific Design Automation Conference (ASP-DAC) | Yokohama, Japan, January 2013 | Pages 145&ndash;150 | Publisher: IEEE
%h4 2012
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1007/978-3-642-36315-3_16" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2012_rc_2.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2012_rc_2.pdf")
      %img.pubthumb(src="images/thumbs/2012_rc_2.png")
    %h4.pubtitle#c24
      Using πDDs in the design for reversible circuits
    .pubauthor
      %strong Mathias Soeken,
      Robert Wille,
      Shin-ichi Minato,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 24
      In Conference on Reversible Computation (RC) | Copenhagen, Denmark, July 2012 | Pages 197&ndash;203 | Publisher: Springer
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1007/978-3-642-36315-3_15" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2012_rc_1.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2012_rc_1.pdf")
      %img.pubthumb(src="images/thumbs/2012_rc_1.png")
    %h4.pubtitle#c23
      Property checking of quantum circuits using quantum multiple-valued decision diagrams
    .pubauthor
      Julia Seiter,
      %strong Mathias Soeken,
      Robert Wille,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 23
      In Conference on Reversible Computation (RC) | Copenhagen, Denmark, July 2012 | Pages 183&ndash;196 | Publisher: Springer
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1109/HLDVT.2012.6418237" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2012_hldvt.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2012_hldvt.pdf")
      %img.pubthumb(src="images/thumbs/2012_hldvt.png")
    %h4.pubtitle#c22
      Behavior driven development for circuit design and verification
    .pubauthor
      Melanie Diepenbeck,
      %strong Mathias Soeken,
      Daniel Große,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 22
      In International Workshop on High-Level Design Validation and Test (HLDVT) | Huntington Beach, CA, USA, November 2012 | Pages 9&ndash;16 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1007/978-3-642-33654-6_3" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2012_icgt.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2012_icgt.pdf")
      %img.pubthumb(src="images/thumbs/2012_icgt.png")
    %h4.pubtitle#c21
      Completeness-Driven Development
    .pubauthor
      Rolf Drechsler,
      Melanie Diepenbeck,
      Daniel Große,
      Ulrich Kühne,
      Hoang M. Le,
      Julia Seiter,
      %strong Mathias Soeken,
      Robert Wille
    .pubcite
      %span.label.label-warning Conference Paper 21
      In International Conference on Graph Transformation (ICGT) | Bremen, Germany, September 2012 | Pages 38&ndash;50 | Publisher: Springer
.item
  .pubmain
    .pubassets
      %a(href="http://ieeexplore.ieee.org/xpl/freeabs_all.jsp?arnumber=6336984" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2012_fdl.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2012_fdl.pdf")
      %img.pubthumb(src="images/thumbs/2012_fdl.png")
    %h4.pubtitle#c20
      Formal Specification Level: Towards verification-driven design based on natural language processing
    .pubauthor
      Rolf Drechsler,
      %strong Mathias Soeken,
      Robert Wille
    .pubcite
      %span.label.label-warning Conference Paper 20
      In Forum on Specification and Design Languages (FDL) | Vienna, Austria, September 2012 | Pages 53&ndash;58 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1109/ISVLSI.2012.43" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2012_isvlsi.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2012_isvlsi.pdf")
      %img.pubthumb(src="images/thumbs/2012_isvlsi.png")
    %h4.pubtitle#c19
      Circuit line minimization in the HDL-based synthesis of reversible logic
    .pubauthor
      Robert Wille,
      %strong Mathias Soeken,
      Eleonora Schönborn,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 19
      In IEEE Computer Society Annual Symposium on VLSI (ISVLSI) | Amherst, MA, USA, August 2012 | Pages 213&ndash;218 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1007/978-3-642-30561-0_19" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2012_tools.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2012_tools.pdf")
      %img.pubthumb(src="images/thumbs/2012_tools.png")
    %h4.pubtitle#c18
      Assisted behavior driven development using natural language processing
    .pubauthor
      %strong Mathias Soeken,
      Robert Wille,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 18
      In International Conference on Objects, Models, Components, Patterns (TOOLS) | Prague, Czech Republic, May 2012 | Pages 269&ndash;287 | Publisher: Springer
.item
  .pubmain
    .pubassets
      %a(href="http://doi.ieeecomputersociety.org/10.1109/ISMVL.2012.64" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2012_ismvl_3.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2012_ismvl_3.pdf")
      %img.pubthumb(src="images/thumbs/2012_ismvl_3.png")
    %h4.pubtitle#c17
      Optimizing the mapping of reversible circuits to four-valued quantum gate circuits
    .pubauthor
      %strong Mathias Soeken,
      Zahra Sasanian,
      Robert Wille,
      D. Michael Miller,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 17
      In International Symposium on Multiple-Valued Logic (ISMVL) | Victoria, BC, Canada, May 2012 | Pages 173&ndash;178 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://doi.ieeecomputersociety.org/10.1109/ISMVL.2012.71" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2012_ismvl_2.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2012_ismvl_2.pdf")
      %img.pubthumb(src="images/thumbs/2012_ismvl_2.png")
    %h4.pubtitle#c16
      Exact synthesis of Toffoli gate circuits with negative control lines
    .pubauthor
      Robert Wille,
      %strong Mathias Soeken,
      Nils Przigoda,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 16
      In International Symposium on Multiple-Valued Logic (ISMVL) | Victoria, BC, Canada, May 2012 | Pages 69&ndash;74 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://doi.ieeecomputersociety.org/10.1109/ISMVL.2012.72" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2012_ismvl_1.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2012_ismvl_1.pdf")
      %img.pubthumb(src="images/thumbs/2012_ismvl_1.png")
    %h4.pubtitle#c15
      A synthesis flow for sequential reversible circuits
    .pubauthor
      %strong Mathias Soeken,
      Robert Wille,
      Christian Otterstedt,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 15
      In International Symposium on Multiple-Valued Logic (ISMVL) | Victoria, BC, Canada, May 2012 | Pages 299&ndash;304 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://ieeexplore.ieee.org/xpl/freeabs_all.jsp?arnumber=6176669" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2012_date_2.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2012_date_2.pdf")
      %img.pubthumb(src="images/thumbs/2012_date_2.png")
    %h4.pubtitle#c14
      Eliminating invariants in UML/OCL models
    .pubauthor
      %strong Mathias Soeken,
      Robert Wille,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 14
      In Design, Automation and Test in Europe (DATE) | Dresden, Germany, March 2012 | Pages 1142&ndash;1145 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://ieeexplore.ieee.org/xpl/freeabs_all.jsp?arnumber=6176655" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2012_date_1.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2012_date_1.pdf")
      %img.pubthumb(src="images/thumbs/2012_date_1.png")
    %h4.pubtitle#c13
      Debugging of inconsistent UML/OCL models
    .pubauthor
      Robert Wille,
      %strong Mathias Soeken,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 13
      In Design, Automation and Test in Europe (DATE) | Dresden, Germany, March 2012 | Pages 1078&ndash;1083 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1109/ASPDAC.2012.6165069" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2012_aspdac.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2012_aspdac.pdf")
      %img.pubthumb(src="images/thumbs/2012_aspdac.png")
    %h4.pubtitle#c12
      Synthesis of reversible circuits with minimal lines for large functions
    .pubauthor
      %strong Mathias Soeken,
      Robert Wille,
      Nils Przigoda,
      Christoph Hilken,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 12
      In Asia and South Pacific Design Automation Conference (ASP-DAC) | Sydney, Australia, January 2012 | Pages 85&ndash;92 | Publisher: IEEE
%h4 2011
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1145/2095654.2095657" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2011_modevva.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2011_modevva.pdf")
      %img.pubthumb(src="images/thumbs/2011_modevva.png")
    %h4.pubtitle#c11
      Towards automatic determination of problem bounds for object instantiation in static model verification
    .pubauthor
      %strong Mathias Soeken,
      Robert Wille,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 11
      In Model-Driven Engineering, Verification, And Validation (MoDeVVa) | Wellington, New Zealand, October 2011 | Pages 2 | Publisher: ACM
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1007/978-3-642-21768-5_12" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2011_tap.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2011_tap.pdf")
      %img.pubthumb(src="images/thumbs/2011_tap.png")
    %h4.pubtitle#c10
      Encoding OCL data types for SAT-based verification of UML/OCL models
    .pubauthor
      %strong Mathias Soeken,
      Robert Wille,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 10
      In International Conference on Tests and Proofs (TAP) | Zürich, Switzerland, June 2011 | Pages 152&ndash;170 | Publisher: Springer
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1109/DDECS.2011.5783129" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2011_ddecs.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2011_ddecs.pdf")
      %img.pubthumb(src="images/thumbs/2011_ddecs.png")
    %h4.pubtitle#c9
      Automatic property generation for the formal verification of bus bridges
    .pubauthor
      %strong Mathias Soeken,
      Ulrich Kühne,
      Martin Freibothe,
      Görschwin Fey,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 9
      In IEEE International Symposium on Design and Diagnostics of Electronic Circuits and Systems (DDECS) | Cottbus, Germany, April 2011 | Pages 417&ndash;422 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://doi.ieeecomputersociety.org/10.1109/ISMVL.2011.39" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2011_ismvl.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2011_ismvl.pdf")
      %img.pubthumb(src="images/thumbs/2011_ismvl.png")
    %h4.pubtitle#c8
      Designing a RISC CPU in reversible logic
    .pubauthor
      Robert Wille,
      %strong Mathias Soeken,
      Daniel Große,
      Eleonora Schönborn,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 8
      In International Symposium on Multiple-Valued Logic (ISMVL) | Tuusula, Finland, May 2011 | Pages 170&ndash;175 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1007/978-3-642-29517-1_6" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2011_rc.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2011_rc.pdf")
      %img.pubthumb(src="images/thumbs/2011_rc.png")
    %h4.pubtitle#c7
      RevKit: An open source toolkit for the design of reversible circuits
    .pubauthor
      %strong Mathias Soeken,
      Stefan Frehse,
      Robert Wille,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 7
      In Conference on Reversible Computation (RC) | Ghent, Belgium, July 2011 | Pages 65&ndash;76 | Publisher: Springer
.item
  .pubmain
    .pubassets
      %a(href="http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=5763177" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2011_date.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2011_date.pdf")
      %img.pubthumb(src="images/thumbs/2011_date.png")
    %h4.pubtitle#c6
      Verifying dynamic aspects of UML models
    .pubauthor
      %strong Mathias Soeken,
      Robert Wille,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 6
      In Design, Automation and Test in Europe (DATE) | Grenoble, France, March 2011 | Pages 1077&ndash;1082 | Publisher: IEEE
%h4 2010
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1109/IDT.2010.5724427" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2010_idt.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2010_idt.pdf")
      %img.pubthumb(src="images/thumbs/2010_idt.png")
    %h4.pubtitle#c5
      Hierarchical synthesis of reversible circuits using positive and negative davio decomposition
    .pubauthor
      %strong Mathias Soeken,
      Robert Wille,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 5
      In International Test and Design Symposium (IDT) | Abu Dhabi, United Arab Emirates, December 2010 | Pages 143&ndash;148 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://doi.acm.org/10.1145/1837274.1837439" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2010_dac.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2010_dac.pdf")
      %img.pubthumb(src="images/thumbs/2010_dac.png")
    %h4.pubtitle#c4
      Reducing the number of lines in reversible circuits
    .pubauthor
      Robert Wille,
      %strong Mathias Soeken,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 4
      In Design Automation Conference (DAC) | Anaheim, CA, USA, June 2010 | Pages 647&ndash;652 | Publisher: ACM/IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1109/DDECS.2010.5491754" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2010_ddecs.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2010_ddecs.pdf")
      %img.pubthumb(src="images/thumbs/2010_ddecs.png")
    %h4.pubtitle#c3
      Window optimization of reversible and quantum circuits
    .pubauthor
      %strong Mathias Soeken,
      Robert Wille,
      Gerhard W. Dueck,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 3
      In IEEE International Symposium on Design and Diagnostics of Electronic Circuits and Systems (DDECS) | Vienna, Austria, April 2010 | Pages 341&ndash;345 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=5457017" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2010_date.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2010_date.pdf")
      %img.pubthumb(src="images/thumbs/2010_date.png")
    %h4.pubtitle#c2
      Verifying UML/OCL models using Boolean satisfiability
    .pubauthor
      %strong Mathias Soeken,
      Mirko Kuhlmann,
      Robert Wille,
      Martin Gogolla,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 2
      In Design, Automation and Test in Europe (DATE) | Dresden, Germany, March 2010 | Pages 1341-1344 | Publisher: IEEE
%h4 2008
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1109/ISVLSI.2008.82" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/2008_isvlsi.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2008_isvlsi.pdf")
      %img.pubthumb(src="images/thumbs/2008_isvlsi.png")
    %h4.pubtitle#c1
      Using higher levels of abstraction for solving optimization problems by Boolean satisfiability
    .pubauthor
      Robert Wille,
      Daniel Große,
      %strong Mathias Soeken,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Conference Paper 1
      In IEEE Computer Society Annual Symposium on VLSI (ISVLSI) | Montpellier, France, April 2008 | Pages 411&ndash;416 | Publisher: IEEE
