%li.list-group-item
  The papers
  %ul
    %li
      %a(href="publications.html#c114") Reducing the multiplicative complexity in logic networks for cryptography and security applications
    %li
      %a(href="publications.html#c113") Scalable generic logic synthesis: one approach to rule them all
  have been accepted by the DAC 2019 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The papers
  %ul
    %li
      %a(href="publications.html#c112") Scaling-up ESOP synthesis for quantum compilation
    %li
      %a(href="publications.html#c111") Reversible pebble games for reducing qubits in hierarchical quantum circuit synthesis
  have been accepted by the ISMVL 2019 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The paper
  %a(href="publications.html#c110") Exact synthesis of Boolean functions in majority-of-five forms
  has been accepted by the ISCAS 2019 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The articles
  %ul
    %li
      %a(href="publications.html#j23") SAT-based exact synthesis: encodings, topology families, and parallelism
    %li
      %a(href="publications.html#j21") LUT-based hierarchical reversible logic synthesis
  got accepted for publication in
  %i IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems.
  %a.badge(href="publications.html") publication
%li.list-group-item
  The article
  %a(href="publications.html#j22") Mapping monotone Boolean functions into majority
  got accepted for publication in
  %i IEEE Transactions on Computer.
  %a.badge(href="publications.html") publication
%li.list-group-item
  The papers
  %ul
    %li
      %a(href="publications.html#c109") Compiling permutations for superconducting QPUs
    %li
      %a(href="publications.html#c108") Reversible pebbling game for quantum memory management
    %li
      %a(href="publications.html#c107") Scalable Boolean methods in a modern synthesis flow
    %li
      %a(href="publications.html#c106") On-the-fly and DAG-aware: Rewriting Boolean networks with exact synthesis
  have been accepted by the DATE 2019 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The article
  %a(href="publications.html#j20") Logic synthesis for established and emerging computing
  got accepted for publication in
  %i Proceedings of the IEEE.
  %a.badge(href="publications.html") publication
%li.list-group-item
  The paper
  %a(href="publications.html#c105") Structural rewriting in XOR-majority graphs
  has been accepted by the ASP-DAC 2019 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The paper
  %a(href="publications.html#c104") Integrated ESOP refactoring for industrial designs
  has been accepted by the ICECS 2018 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  I am organizing the tutorial
  %a(href="https://iccad.com/event_details?id=263-6-E" target="_blank") Majority logic synthesis
  with Luca Gaetano Amarù, Eleonora Testa, Miguel Couceiro, Odysseas Zografos
  in San Diego, CA, USA at the ICCAD 2018 conference.
  %a.badge(href="#") tutorial
%li.list-group-item
  The articles
  %ul
    %li
      %a(href="publications.html#j19") Pairs of majority-decomposing functions
    %li
      %a(href="publications.html#j18") The complexity of error metric
  got accepted for publication in
  %i Information Processing Letters.
  %a.badge(href="publications.html") publication
