!!! 5
%html
  %head
    = Haml::Engine.new(File.read('_header.haml')).render(Object.new, :title => 'Mathias Soeken / Publications')
  %body
    .container#main-container
      .row#main-row
        = Haml::Engine.new(File.read('_nav.haml')).render(Object.new, :page => "publications")
        .col-md-9
          %h1 Publications
          /
            #map(style="width:100%; height:300px")
            :javascript
              function initMap() {
                var mapOptions = {
                  zoom: 1,
                  center: new google.maps.LatLng(0,0),
                  mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById("map"), mapOptions);
              }
            %script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLj6O9WmvcmmEzbEbQ_rOsViTirPaacJ8&region=US&callback=initMap")
          %ul.nav.nav-pills#myTab
            %li.active
              %a(href="#journals")
                Journal Articles
            %li(role="presentation")
              %a(href="#conferences")
                Conference Papers
            %li(role="presentation")
              %a(href="#books")
                Books
            %li(role="presentation")
              %a(href="#workshops")
                Workshop Papers
            %li(role="presentation")
              %a(href="#preprints")
                Preprints
          .tab-content
            .tab-pane.active#journals
              .pitems
                = Haml::Engine.new(File.read('_journals.haml')).render(Object.new)
            .tab-pane#conferences
              .pitems
                = Haml::Engine.new(File.read('_conferences.haml')).render(Object.new)
            .tab-pane#books
              .pitems
                .item
                  .pubmain
                    .pubassets
                      %a(href="https://books.google.ch/books?id=hvVWBQAAQBAJ" data-toggle="tooltip" data-placement="top" title="Open book" target="_blank")
                        %span.glyphicon.glyphicon-new-window
                    %img.pubthumb(src="images/covers/book_fsl.jpg")
                    %h4.pubtitle
                      Formal Specification Level
                    .pubauthor
                      %strong Mathias Soeken,
                      Rolf Drechsler
                    .pubcite
                      %span.label.label-success Book 2
                      3319086987 | 138 pages | 2014 | Publisher: Springer
                .item
                  .pubmain
                    .pubassets
                      %a(href="http://www.shaker.de/de/content/catalogue/index.asp?lang=de&ID=8&ISBN=978-3-8440-1199-9" data-toggle="tooltip" data-placement="top" title="Open book" target="_blank")
                        %span.glyphicon.glyphicon-new-window
                    %img.pubthumb(src="images/covers/book_qbit.jpg")
                    %h4.pubtitle
                      Auf dem Weg zum Quantencomputer: Entwurf reversibler Logik (Technische Informatik)
                    .pubauthor
                      Rolf Drechsler,
                      %strong Mathias Soeken,
                      Robert Wille (Eds.)
                    .pubcite
                      %span.label.label-success Book 1
                      3844011994 | 226 pages (in German) | 2012 | Publisher: Shaker
            .tab-pane#workshops
              .pitems
                = Haml::Engine.new(File.read('_workshops.haml')).render(Object.new)
            .tab-pane#preprints
              .pitems
                = Haml::Engine.new(File.read('_preprints.haml')).render(Object.new)
          %h3 Copyright Notice
          %p
            This material is presented to ensure timely dissemination of scholarly and technical work. Copyright and all rights therein are retained by authors or by other copyright holders. All persons copying this information are expected to adhere to the terms and constraints invoked by each author's copyright. In most cases, these works may not be reposted without the explicit permission of the copyright holder.
          %p
            %i The following notice applies to all IEEE publications:
            %br
            %span.glyphicon.glyphicon-copyright-mark
            IEEE. Personal use of this material is permitted. However, permission to reprint/republish this material for advertising or promotional purposes or for creating new collective works for resale or redistribution to servers or lists, or to reuse any copyrighted component of this work in other works must be obtained from the IEEE.
          %p
            %i The following copyright notice applies to all papers published in the Lecture Notes in Computer Science by Springer-Verlag, as mentionned in the Copyright Form:
            %br
            %span.glyphicon.glyphicon-copyright-mark
            The Author may publish his/her contribution on his/her personal Web page provided that he/she creates a link to the above mentioned volume of LNCS at the Springer-Verlag server or to the LNCS series Homepage (URL: http://www.springer.de/comp/lncs/index.html) and that together with this electronic version it is clearly pointed out, by prominently adding "© Springer-Verlag", that the copyright for this contribution is held by Springer.
    %script(src="js/jquery.min.js")
    %script(src="js/bootstrap.min.js")
    :javascript
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    :javascript
      $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      });

      $('ul.nav-pills > li > a').on('shown.bs.tab', function (e) {
        var id = $(e.target).attr('href').substr(1);
        window.location.hash = id;
      });

      var hash = window.location.hash;
      var orig = "";
      if ( hash.length > 1 && hash[1] == 'c' ) { orig = hash; hash = "#conferences"; }
      if ( hash.length > 1 && hash[1] == 'j' ) { orig = hash; hash = "#journals"; }
      console.log( hash );
      if ( hash.length > 0 ) {
        $('#myTab a[href="' + hash + '"]').tab('show');
        window.location = orig;
      }
