!!! 5
%html
  %head
    = Haml::Engine.new(File.read('_header.haml')).render(Object.new, :title => 'Mathias Soeken / Research')
  %body
    .container#main-container
      .row#main-row
        = Haml::Engine.new(File.read('_nav.haml')).render(Object.new, :page => 'research')
        .col-md-9
          %h1 Research
          .row
            .col-md-6
              %h3 Research Interests
              %ul.list-group
                %li.list-group-item Logic Synthesis
                %li.list-group-item Quantum Computing
                %li.list-group-item Reversible Logic
                %li.list-group-item Design Understanding
                %li.list-group-item Formal Verification
            .col-md-6
              %h3 Professional Activities
              %p
                %b Organizer:
                DUHDe 2016, DUHDe 2017, Design Automation for Quantum Computers 2017 (ICCAD Workshop), IWQC 2018 (ICCAD Workshop), IWLS 2019, RC 2019
              %p
                %b Program chair:
                IWBP 2018, ISMVL 2019
              %p
                %b TPC member:
                %img(src="images/acm.ico")
                DAC 2017,
                %img(src="images/acm.ico")
                DAC 2018,
                %img(src="images/acm.ico")
                DAC 2019,
                %img(src="images/ieee.ico")
                DATE 2018,
                %img(src="images/ieee.ico")
                DATE 2019,
                %img(src="images/ieee.ico")
                FDL 2014,
                %img(src="images/ieee.ico")
                FDL 2015,
                %img(src="images/ieee.ico")
                FDL 2016
                %img(src="images/ieee.ico")
                FMCAD 2018
                %img(src="images/acm.ico")
                GLSVLSI 2018,
                %img(src="images/acm.ico")
                GLSVLSI 2019,
                %img(src="images/acm.ico")
                ICCAD 2017,
                %img(src="images/acm.ico")
                ICCAD 2018,
                %img(src="images/ieee.ico")
                ISMVL 2015,
                %img(src="images/ieee.ico")
                ISMVL 2017,
                %img(src="images/ieee.ico")
                ISMVL 2018,
                IWLS 2016,
                IWLS 2017,
                IWLS 2018,
                %img(src="images/springer.ico")
                RC 2016,
                %img(src="images/springer.ico")
                RC 2017,
                %img(src="images/springer.ico")
                RC 2018
              %p
                %b Others:
                IWLS 2017 (Contest chair), Reed-Muller 2017 (Publicity chair), IWLS 2018 (Contest and special session chair)
              /
                %p
                  %b Reviewer (Journals):
                %p
                  %b Reviewer (Conferences):
          .row
            .col-md-12
              %h3 Projects
              .pitems
                .pitem
                  .pubmain(style="min-height:0px")
                    %img.project-thumb(src="images/snf.png")
                    %h4.pubtitle MAJesty: Logic Synthesis with Majority-Inverter Graphs
                    .project-description
                      %p(style="text-align: justify")
                        %img(src="images/majesty.png" style="float: left; margin-right: 10pt")
                        The MAJesty project aims at developing logic synthesis algorithms and applications based on majority logic.  The research is grouped into the three main categories theory, algorithms, and applications.  In the theoretical research we want to investigate different forms of majority-based logic and its promising combination with XOR-based logic.  In the algorithmic research we develop dedicated approaches tailored for functions of different complexity.  As applications we propose synthesis of arithmetic components motivated by results from circuit complexity, threshold logic optimization, inverter optimization, and synthesis for verification.  In particular the last application is of high interest, as formal verification is often the bottleneck in today's design flows.
                    %i.fa.fa-calendar(aria-hidden="true")
                    %b Runtime:
                    to be started (3 years)
                    %br
                    %i.fa.fa-certificate(aria-hidden="true")
                    %b Role:
                    Principal Investigator (Co-PI in cooperation with Prof. Giovanni De Micheli, EPFL, Switzerland)
                  .pubmain(style="min-height:0px")
                    %img.project-thumb(src="images/daad.gif")
                    %h4.pubtitle Faster Formal Verification with Reverse Engineering
                    .project-description
                      The project develops new methods for reverse engineering a circuit aiming at increasing the efficiency of formal verification.
                    %i.fa.fa-calendar(aria-hidden="true")
                    %b Runtime:
                    January 2015 &ndash; December 2016
                    %br
                    %i.fa.fa-certificate(aria-hidden="true")
                    %b Role:
                    Principal Investigator
                    %br
                    %i.fa.fa-user(aria-hidden="true")
                    %b Collaborator:
                    Prof. Robert K. Brayton, UC Berkeley, CA, USA
                .pitem
                  .pubmain(style="min-height:0px")
                    %img.project-thumb(src="images/cost.png")
                    %h4.pubtitle Reversible Computation &ndash; Extending Horizons of Computing
                    .project-description
                      This project aims to coordinate the research efforts of European expertise to foster the development in reversible logic for software and hardware and both from a theoretical and practical point of view.
                    %i.fa.fa-calendar(aria-hidden="true")
                    %b Runtime:
                    April 2015 &ndash; April 2019
                    %br
                    %i.fa.fa-certificate(aria-hidden="true")
                    %b Role:
                    MC Member
                    %br
                    %i.fa.fa-globe(aria-hidden="true")
                    %b Web:
                    %a(href="http://www.revcomp.eu/" target="_blank") www.revcomp.eu
